nav{
    background-color:#583fb3;
    text-align: center;
    
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

a{
    text-decoration: none;
    color:#fff;
}

li{
    
    Font-size:1.5rem;
}



li:hover{
    Background-color: #eacd39;
    color:#808080;
    transition:cubic-bezier(0.9, -0.28, 0.735, 0.045);
    -webkit-transition:cubic-bezier(0.9, -0.28, 0.735, 0.045);
    -moz-transition:cubic-bezier(0.9, -0.28, 0.735, 0.045);
    -ms-transition:cubic-bezier(0.9, -0.28, 0.735, 0.045);
    -o-transition:cubic-bezier(0.9, -0.28, 0.735, 0.045);
    
}


@media(min-width:480px){
    nav {
    
    text-align: center;

    }

    ul{
        flex-direction: row;
        justify-content: space-around;
    }
   
}